* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
    margin: 0;
}

header {
    background-color: white;
    text-align: center;
    color: blue;
    padding: 8px 0;
    font-family: sans-serif;
}

.box {
    background-color: white;
    width: 50%;
    margin: 12px auto 0;
    padding: 20px;
}

.box-head {
    border-bottom: solid lightgray 1px;
    padding-bottom: 12px;
}

.box-head h2 {
    font-family: sans-serif;
}

.box-head h5 {
    color: turquoise;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box-body {
    padding: 12px 0;
    line-height: 1.5;
    border-bottom: solid lightgray 1px;
}

.box-footer {
    padding-top: 12px;
}

.box-footer .category {
    margin: 8px 0;
}

footer {
    text-align: center;
    color: lightgrey;
    margin: 12px 0;
}